section{
    display: flex;
    flex-direction: column;
}

section2 h1{
    background-color: $backgroundgrey;
    font-size: 150%;
    font-weight: bold;
    padding: 35px 0px 0px 15px;
    margin-block-end: 0px;
}

#restaurants{
    background-color: $backgroundgrey;
    padding-top: 25px;
    padding-bottom: 45px;
    @include restaurantsresponsive;
}

.restaurant{
    width: 90%;
    height: 200px;
    background-color: white;
    @include boxshadow;
    @include borderradius;
    margin: 15px 15px 0px 15px;
    position: relative;
    overflow: hidden;
    @include tabletrestaurant;
}

.photorestaurant{
    height: 140px;
    position: relative;
    overflow: hidden;
    
}
.photorestaurant img{
    width: 425px;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    @include tabletwidth;
}

.photorestaurant em{
    position: absolute;
    z-index: 2;
    color: green;
    font-weight: bold;
    font-style: normal;
    background-color: $colourtertiary;
    border-radius: 5px;
    margin-left: 65%;
    margin-top: 5%;
    padding: 2% 4% 2% 4%;
}

.restaurant a{
    text-decoration: none;
}

.textrestaurant{
    width: 100%;
    height: 60px;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    box-shadow: 3px 3px 3px $boxshadowgrey;
    margin: 0px 0px 0px 15px;
    padding: 5px 0px 15px 0px;
    @include textrestaurantresponsive;
}

.textrestaurant h2{
    color: black;
    font-weight: bolder;
    font-size: 120%;
    padding-left: 10px;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.textrestaurant h3{
    color: black;
    font-size: 120%;
    font-weight: normal;
    padding-left: 10px;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.fa-heart:hover{
    color: $iconemainpage;
}

.fa-heart{
    float: right;
    font-size: 170%;
    color: black;
    padding-top: 5px;
    padding-right: 30px;
}

section img{
    width: 100%;
}

.menutop{
    background-color: $backgroundgrey;
    font-family: shrikhand, sans-serif;
    border-radius: 35px 35px 0px 0px;
    font-size: 200%;
    padding-left: 20px;
    @include menutopresponsive;
}

.menucardlist{
    @include menucardlistresponsive;
}

.menucard{
    background-color: $backgroundgrey;
    width: 425px;
    padding-top: 25px;
    @include tabletwidth;
    @include menucardresponsive;
}

.menutitle{
    @include bordermenutitle;
    margin-bottom: 15px;
    padding-bottom: 0px;
    font-weight: lighter;
    @include tabletmenutitle;
    
}

.menu{
    width: 90%;
    margin-left: 10px;
    margin-bottom: 15px;
    @include borderradius;
    @include boxshadow;
    background-color: white;
    font-weight: bold;
    padding: 15px 0px 15px 15px;
    @include menuresponsive;
}

.menu em{
    font-style: normal;
    font-weight: lighter;
    font-size: 90%;
    justify-content: left;
}

.menutext2{
    padding-top: 5px;
    justify-content: right;
}

.choice{
    float: right;
    font-size: 200%;
    margin-top: 10px;
    margin-right: 10px;
}

.buttonposition{
    background-color: $backgroundgrey;
    padding: 45px 0px 45px 0px;
    text-align: center;
    @include tabletbutton;
}