aside{
    display: flex;
    flex-direction: column;
}
section h4{
    background-color: $backgroundgrey;
    font-size: 150%;
    font-weight: bold;
    padding: 35px 0px 0px 15px;
    margin-block-end: 0px;
    @media all and (min-width: 1990px){
        font-size: 250%;
    }
}
#restaurants{
    background-color: $backgroundgrey;
    padding-top: 25px;
    padding-bottom: 45px;
    @media all and (min-width: 1024px){
        display: flex;
    }
}
.restaurant{
    width: 90%;
    height: 200px;
    background-color: white;
    @include boxshadow;
    @include borderradius;
    margin: 15px 15px 0px 15px;
    position: relative;
    overflow: hidden;
    @media all and (min-width: 426px){
        width: 70%;
        margin-left: 35px;
    }   
    @media all and (min-width: 1024px){
        width: 25%;
        height: 150px;
        font-size: 80%;
    }
    @media all and (min-width: 1440px){
        width: 25%;
        height: 200px;
        font-size: 100%;
    }
    @media all and (min-width: 1990px){
        width: 25%;
        height: 350px;
        font-size: 160%;
    }
}
.photorestaurant{
    height: 140px;
    @media all and (min-width: 1024px){
        height: 66%;
    }
    position: relative;
    overflow: hidden;  
}
.photorestaurant img{
    width: 425px;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    @include tabletwidth;
}
.photorestaurant em{
    position: absolute;
    z-index: 2;
    color: green;
    font-weight: bold;
    font-style: normal;
    background-color: $colourtertiary;
    border-radius: 5px;
    margin-left: 65%;
    margin-top: 5%;
    padding: 2% 4% 2% 4%;
}
.restaurant a{
    text-decoration: none;
}
.textrestaurant{
    width: 100%;
    height: 60px;
    @media all and (min-width: 1024px){
        height: 33%;
        font-size: 90%;
    }
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    box-shadow: 3px 3px 3px $boxshadowgrey;
    margin: 0px 0px 0px 15px;
    padding: 5px 0px 15px 0px;
    button{
        float: right;
        border: 2px;
        :hover{
            color: $iconemainpage;
        }
    }
}
.textrestaurant h5{
    color: black;
    font-weight: bolder;
    font-size: 120%;
    padding-left: 10px;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}
.textrestaurant h6{
    color: black;
    font-size: 120%;
    font-weight: normal;
    padding-left: 10px;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}
.fa-heart:hover{
    color: $iconemainpage;
    animation: heart 2000ms ease-in-out;
}
.fa-heart{
    float: right;
    font-size: 170%;
    color: white;
    border-color: $colourprimary;
    padding-top: 5px;
    padding-right: 30px;
}
section img{
    width: 100%; 
    z-index: 0;
    position: relative;
    @media all and (min-width: 1326px){
        height: 250px;
    }
    @media all and (min-width: 1990px){
        height: 350px;
    }
}
.menutop{
    background-color: $backgroundgrey;
    font-family: shrikhand, sans-serif;
    border-radius: 35px 35px 0px 0px;
    z-index: 1;
    position: relative;
    margin-top: -30px;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    @media all and (max-width: 424px){
        font-size: 150%;
    }
    @media all and (min-width: 1990px){
        font-size: 400%;
        padding: 45px 80px 45px 80px;
    }
    i{
        color: $iconemainpage;
    }
}
.menucardlist{
    @media all and (min-width: 1326px){
        display: flex;
        flex-direction: column;
        width: 33%;
    }
}
.menucard{
    animation: menucard 1000ms ease-in-out 200ms backwards;
    background-color: $backgroundgrey;
    width: 425px;
    padding-top: 25px;
    @include tabletwidth;
    @media all and (min-width: 1326px){
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
.menutitle{
    @include bordermenutitle;
    margin-bottom: 15px;
    padding-bottom: 0px;
    font-weight: lighter;  
    @media all and (min-width: 426px){
        margin-left: 110px;
    }
    @media all and (min-width: 1990px){
        font-size: 150%;
    }
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    @include borderradius;
    @include boxshadow;
    &:hover{
        .menuchoice{
            transform: translateX(-100%);
        }
        .menuprice{
            transform: translateX(-100%);
        }
        .fa-check-circle{
            transform: rotate(1turn);
        }
        .menutext1{
            animation: menutext 1000ms ease-in-out forwards;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .menutext2{
            animation: menutext 1000ms ease-in-out forwards;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    background-color: white;
    @media all and (min-width: 426px){
        width: 70%;
        margin: auto;
        margin-bottom: 15px;
    }
    @media all and (min-width: 1326px){
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }
    @media all and (min-width: 1990px){
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
        font-size: 150%;
    }
}
.menutext{
    width: 100%;
}
.menutext1{
    font-style: normal;
    font-weight: bold;
    font-size: 110%;
    padding: 5% 0% 3% 10%;
    @media all and (max-width: 424px){
        font-size: 90%;
        padding: 5% 0% 2.5% 5%;
    }
}
.menutext2{
    width: 100%;
    font-style: normal;
    font-weight: lighter;
    padding: 2% 0% 3% 10%;
    transform: scaleX(1);
    @media all and (max-width: 424px){
        font-size: 80%;
        padding: 5% 0% 5% 5%;
    }
}
.menuoption{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    .menuprice{
        font-weight: bolder;
        width: 70%;
        padding: 50% 15% 10% 10%;
        transition: transform 1000ms ease-in-out;
        @media all and (max-width: 374px){
            width: 50%;
        }   
    }
    .menuchoice{
        background-color: $colourtertiary;
        margin-right: -155%;
        @media all and (max-width: 374px){
            margin-right: -200%;
        }   
        border-radius: 0px 20px 20px 0px;
        width: 100px;
        height: 100%;
        transition: transform 1000ms ease-in-out;
    }
} 

.fa-check-circle{
    font-size: 200%;
    background-color: $colourtertiary;
    color: white;
    margin: 30px;
    transition: transform 1000ms ease-in-out;
    
}
input[type=checkbox]{
    appearance: none;
}
