footer{
    background-color: black;
    color: white;
    width: auto;
        h1{
            padding-top: 25px;
            padding-left: 25px;
            padding-bottom: 20px;
            font-family: 'shrikhand', sans-serif;
            font-size: 120%;
            font-weight: normal;
            margin: 5px;
            @media all and (min-width: 426px){
                text-align: center;
                padding-left: 0px;
                font-size: 200%;
            } 
            @media all and (min-width: 1990px){
                text-align: center;
                padding-left: 0px;
                font-size: 300%;
            }
        }
        ul{
            list-style-type: none;
            padding-left: 25px;
            padding-bottom: 25px;
            margin: 5px;
            @media all and (min-width: 426px){
                display: flex;
                justify-content: space-between;
                margin: 25px;
            } 
            @media all and (min-width: 1990px){
                display: flex;
                justify-content: space-between;
                margin: 25px;
                font-size: 200%;
            }
        }
        li{
            font-size: 90%;
            padding: 5px;
        }
        i{
            padding-right: 10px;
        }
        span{
            font-weight: bold;
            padding-left: 10px;
        }
        a{
            text-decoration: none;
            color: white;
        }
}

.fa-hands-helping{
    font-size: 70%;
}

