section header{
    text-align: center;
}

header h1{
    font-family: 'shrikhand', sans-serif;
    font-size: 200%;
    text-align: center;
}

#headertop{
    font-weight: bold;
    background-color: rgb(221, 215, 215);
    padding: 20px 0px 20px 0px;
}

.fa-map-marker-alt{
    text-align: center;
}

#citysearch{
    width: 40%;
    border: none;
    background-color: rgb(221, 215, 215);
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

#headerbottom{
    background-color: rgb(241, 238, 238);
    padding-top: 45px;
    padding-bottom: 55px;
}

section header h1{
    background-color: rgb(241, 238, 238);
    font-size: 145%;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    width: 70%;
    padding-left: 15%;
    margin-block-start: 0rem;
}

section header h2{
    background-color: rgb(241, 238, 238);
    font-size: 105%;
    font-weight: bold;
    padding-left: 5%;
    padding-bottom: 30px;
}

#restaurantsearching{
    background-color: #ff79da;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding: 15px;
}