section header{
    text-align: center;
}

header h1{
    font-family: 'shrikhand', sans-serif;
    font-size: 200%;
    text-align: center;
}

header a{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

#headertop{
    font-weight: bold;
    background-color: rgb(221, 215, 215);
    padding: 20px 0px 20px 0px;
    border-top: 5px rgb(138, 135, 135) solid;
}

.fa-map-marker-alt{
    text-align: center;
}

#citysearch{
    width: 40%;
    border: none;
    background-color: rgb(221, 215, 215);
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

#headerbottom{
    background: $backgroundgrey;
    padding-top: 45px;
    padding-bottom: 55px;
    #headerbottomtext1{
        font-size: 145%;
        font-family: 'roboto', sans-serif;
        font-weight: bolder;
        width: 70%;
        padding-left: 15%;
        margin-block-start: 0rem;
    }
    #headerbottomtext2{
        font-size: 105%;
        font-weight: bold;
        padding-left: 5%;
        padding-bottom: 30px;
        border-bottom: none;
    }
}

.button{
    background: $mixpurple;
    @include btn;
    &:hover{
       opacity: 0.8;
       @include boxshadowhover;
    }
}
