header h1{
    font-family: 'shrikhand', sans-serif;
    font-size: 200%;
    text-align: center;
    @media all and (min-width: 1990px){
        font-size: 300%;
    }
}

header a{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

aside header{
    text-align: center;
}

#headertop{
    font-weight: bold;
    background-color: $headertopbg;
    padding: 20px 0px 20px 0px;
    border-top: 5px $bordertop solid;
    @media all and (min-width: 1990px){
        font-size: 200%;
    } 
}

.fa-map-marker-alt{
    text-align: center;
}

#citysearch{
    width: 40%;
    border: none;
    background-color: rgb(221, 215, 215);
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

#headerbottom{
    background: $backgroundgrey;
    padding-top: 45px;
    padding-bottom: 55px;
    & h2{
        font-size: 25px;
        font-weight: bolder;
        font-family: 'robotregular', sans-serif;
        width: 70%;
        padding-left: 15%;
        margin-block-start: 0rem;
        @media all and (min-width: 1990px){
            font-size: 200%;
        } 
    }
    & h3{
        font-size: 105%;
        font-weight: lighter;
        padding-left: 0%;
        padding-bottom: 30px;
        border-bottom: none;
        @media all and (min-width: 1990px){
            font-size: 200%;
        } 
    } 
}
.fa-arrow-left{
    margin-top: 20px;
}

