nav{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

#navtitle{
    font-family: 'robotregular', sans-serif;
    font-weight: bold;
    font-size: 150%;
    padding-left: 35px;
    margin-bottom: 20px;
    @media all and (min-width: 426px){
        text-align: center;
        font-size: 200%;
    }
}

.navlist{
    display: flex;
    margin: 20px;
    background-color: $backgroundgrey;
    @include boxshadow;
    border-radius: 25px;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
        @include boxshadowhover;
        .navicone{
            color: $iconemainpage;
        }
    }
    @media all and (min-width: 426px){
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
    }
    @media all and (min-width: 1024px){
        width: 50%;
    }
    @media all and (min-width: 1326px){
        width: 40%;
    }
    @media all and (min-width: 1920px){
        width: 30%;
        font-size: 200%;
    }
}
.navnumber{
    font-family: 'robotregular', sans-serif;
    margin-left: -15px;
    background-color: $iconemainpage;
    border-radius: 50%;
    padding: 8px 13px 8px 13px;
    color: white;
    font-size: 85%;
}
.navicone{
    padding-left: 15px;
    padding-right: 25px;
    color: grey;
    width: 10%;
    @media all and (max-width: 374px){
        padding-right: 15px;
    }
}




