.button{
    background: $mixpurple;
    @include btn;
    &:hover{
       opacity: 0.8;
       @include boxshadowhover;
       cursor: grab;
    }
    @media all and (max-width: 374px){
        width: 90%;
        font-size: 20px;
    }
}
.buttonposition{
    background-color: $backgroundgrey;
    padding: 45px 0px 45px 0px;
    text-align: center;
    @media all and (min-width: 426px){
        text-align: center;
        margin-left: 0px;
    } 
}