@font-face {
    font-family: 'robotregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-family: 'shrikhand';
    src: url('./Shrikhand-Regular.otf');     
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'robotregular', sans-serif;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.loader{
    position: fixed;
    z-index: 9999;
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    animation: load 3000ms forwards;
}
.loaderball1{
    width: 100px;
    height: 100px;
    background-color: $colourprimary;
    animation: loader 2000ms both;
}
.loaderball2{
    width: 100px;
    height: 100px;
    background-color: $coloursecondary;
    animation: loader2 2000ms both;
}
.loaderball3{
    width: 100px;
    height: 100px;
    background-color: $colourtertiary;
    animation: loader 2000ms both;
}