@mixin boxshadow{
    box-shadow: 3px 3px 3px $boxshadowgrey;
}
@mixin borderradius{
    border-radius: 20px;
}
@mixin boxshadowhover{
    box-shadow: 6px 6px 6px $boxshadowgrey;  
}
@mixin btn{
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding: 15px;
}
@mixin bordermenutitle{
    border-bottom: 2px $colourtertiary solid;
    width: 45px;
    margin-left: 10px;
    padding-top: 25px;
}
@mixin tabletwidth{
    width: 768px;
    margin: auto;
}
@mixin tabletnavtitle{
    @media all and (min-width: 426px) and (max-width: 768px){
        text-align: center;
        font-size: 200%;
    }
}
@mixin tabletnavlist{
    @media all and (min-width: 426px) and (max-width: 768px){
        width: 70%;
        margin: auto;
        margin-bottom: 15px;
    }
}
@mixin tabletmenutitle{
    @media all and (min-width: 426px) and (max-width: 768px){
        margin-left: 110px;
    }
}

@mixin tabletbutton{
    @media all and (min-width: 426px) and (max-width: 768px){
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    } 
}
@mixin footerresponsive{
    @media all and (min-width: 426px) and (max-width: 768px){
        display: flex;
        justify-content: space-between;
        margin: 25px;
    } 
}
@mixin footertitle{
    @media all and (min-width: 426px) and (max-width: 768px){
        text-align: center;
        padding-left: 0px;
        font-size: 200%;
    } 
}
