@mixin boxshadow{
    box-shadow: 3px 3px 3px $boxshadowgrey;
}
@mixin borderradius{
    border-radius: 20px;
}
@mixin boxshadowhover{
    box-shadow: 6px 6px 6px $boxshadowgrey;  
}
@mixin btn{
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding: 15px;
}
@mixin bordermenutitle{
    border-bottom: 2px $colourtertiary solid;
    width: 45px;
    margin-left: 10px;
    padding-top: 25px;
}

@mixin tabletwidth{
    width: 100%;
    margin: auto;
}

@mixin tabletbutton{
    @media all and (min-width: 426px){
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    } 
}
