$colourprimary: #9356DC;
$coloursecondary: #FF79DA;
$colourtertiary: #99E2D0;
$backgroundgrey: #F5EAEA;
$boxshadowgrey: rgb(218, 214, 214);
$iconemainpage: #952CBE;
$mixpurple: linear-gradient(#FF79DA, #952CBE);
$headertopbg: rgb(221, 215, 215);
$bordertop: #d2cece;
